/* Created By Mohamed Gamal - mohamed--gamal.vercel.app */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: rgba(151, 71, 255, 1);
  border-radius: 55px;
  transition: .5s;
}
a:hover{
  color: #F0C673;
}
body{
  background-color: #000;
}
body::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  /* background: linear-gradient(91.23deg, #3C113F -1.78%, rgba(187, 35, 111, 0.5) 55.68%, rgba(255, 173, 14, 0) 102.3%); */
  background: linear-gradient(180deg, #F0C673 0%, #BB236F 100%);
}
body::-webkit-scrollbar {
  width: 0.6em;
}
/*  ===================== NavBar =====================  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
 .wrapper {
	 width: 100%;
	 max-width: 1600px;
	 margin: auto;
   margin-bottom: -140px;
}
/* --- primary header --- */
 .primary-header {
	 display: flex;
	 min-height: 120px;
	 padding: 1rem 2rem;
}
 .primary-header .container {
	 position: relative;
	 display: flex;
	 width: 100%;
	 align-items: center;
	 justify-content: space-between;
	 padding: 0;
}
 .primary-header .home-link {
	 height: 36px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  animation: 3s home-link infinite;
  padding: 5px;
  color: #9B51E0;
}
@keyframes home-link {
  0%   {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #9B51E0 10.64%, rgba(255, 173, 14, 0) 110.64%);
    -webkit-background-clip: text;
  }
  25%  {
 -webkit-text-fill-color: transparent;
    background: linear-gradient(70deg, #9B51E0 10.64%, rgba(255, 173, 14, 0) 110.64%);
    -webkit-background-clip: text;
  }
  50%  {
 -webkit-text-fill-color: transparent;
    background: linear-gradient(40deg, #9B51E0 10.64%, rgba(255, 173, 14, 0) 110.64%);
    -webkit-background-clip: text;
  }
  75%  {
 -webkit-text-fill-color: transparent;
    background: linear-gradient(20deg, #9B51E0 10.64%, rgba(255, 173, 14, 0) 110.64%);
    -webkit-background-clip: text;
  }
  100% {
     -webkit-text-fill-color: transparent;
    background: linear-gradient(0deg, #9B51E0 10.64%, rgba(255, 173, 14, 0) 110.64%);
    -webkit-background-clip: text;
  }
}
 .primary-header .home-link img {
	 height: 100%;
}
.primary-header .primary-navigation .nav-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  justify-content: right;
}
.primary-header .primary-navigation .nav-list a {
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: 700;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
/* --- primary header END --- */
/* --- Burger Toggle --- */
.primary-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 0;
  cursor: pointer;
}
.primary-toggle .line, .primary-toggle .line:before, .primary-toggle .line:after {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--secondary-color);
  height: 3px;
  width: 30px;
  transition: transform 100ms ease-in-out;
}
.primary-toggle .line:before {
  margin-top: -8px;
}
.primary-toggle .line:after {
  margin-top: 8px;
}
#primary-toggle:checked + .primary-toggle .line:before {
  margin-top: 0px;
  transform: rotate(45deg);
}
#primary-toggle:checked + .primary-toggle .line {
  background-color: transparent;
}
#primary-toggle:checked + .primary-toggle .line:after {
  margin-top: 0px;
  transform: rotate(-45deg);
}
/* --- Burger Toggle END --- */
/* ---  Menu --- */
.primary-header .primary-toggle {
  display: flex;
}
.primary-header .primary-navigation {
  position: absolute;
  display: grid;
  grid-template-rows: 0fr;
  width: 100%;
  top: calc(1rem + 100%);
  left: -35px;
  padding: 0;
  z-index: 999;
  background-color: var(--header-background-color);
  filter: brightness(105%);
  box-shadow: 0 2px 5px #000;
  background-color: #000;
  opacity: .9;
}
.primary-header .primary-navigation .nav-list {
  display: block;
  overflow: hidden;
}
.primary-header .primary-navigation .nav-list li {
  padding: 0 2rem;
}
.primary-header .primary-navigation .nav-list li:last-child {
  margin-bottom: 2rem;
}
.primary-header .primary-navigation .nav-list a {
  /* padding: 1rem 0; */
  font-family: Montserrat;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin: 37px 0;
}
.primary-header .primary-navigation .nav-list li:last-child a {
  border: 0;
}
.primary-header .primary-navigation .nav-list .user-profile span {
  margin-left: 0;
}
.primary-header #primary-toggle:checked ~ .primary-navigation {
  grid-template-rows: 1fr;
  justify-content: center;
  width: 104%;
  padding-bottom: 50%;
}
@media screen and (min-width:100px) and (max-width:1300px) {
  .primary-header #primary-toggle:checked ~ .primary-navigation {
    width: 105%;
  }
}
@media screen and (min-width:100px) and (max-width:1100px) {
  .primary-header #primary-toggle:checked ~ .primary-navigation {
    width: 106%;
  }
}
@media screen and (min-width:100px) and (max-width:900px) {
  .primary-header #primary-toggle:checked ~ .primary-navigation {
    width: 108%;
  }
}
@media screen and (min-width:100px) and (max-width:700px) {
  .primary-header #primary-toggle:checked ~ .primary-navigation {
    width: 110%;
    padding-bottom: 70%;
  }
}
@media screen and (min-width:100px) and (max-width:600px) {
  .primary-header #primary-toggle:checked ~ .primary-navigation {
    width: 112%;
  }
}
@media screen and (min-width:100px) and (max-width:570px) {
  .primary-header #primary-toggle:checked ~ .primary-navigation {
    width: 113%;
    padding-bottom: 90%;
  }
}
@media screen and (min-width:100px) and (max-width:500px) {
  .primary-header #primary-toggle:checked ~ .primary-navigation {
    width: 116%;
    padding-bottom: 110%;
  }
}
@media screen and (min-width:100px) and (max-width:450px) {
  .primary-header #primary-toggle:checked ~ .primary-navigation {
    width: 118%;
  }
}
@media screen and (min-width:100px) and (max-width:440px) {
  .primary-header #primary-toggle:checked ~ .primary-navigation {
    width: 119%;
  }
}
@media screen and (min-width:100px) and (max-width:400px) {
  .primary-header #primary-toggle:checked ~ .primary-navigation {
    width: 120%;
    padding-bottom: 140%;
  }
}
@media screen and (min-width:100px) and (max-width:350px) {
  .primary-header #primary-toggle:checked ~ .primary-navigation {
    width: 126%;
  }
}
@media screen and (min-width:100px) and (max-width:300px) {
  .primary-header #primary-toggle:checked ~ .primary-navigation {
    width: 127%;
  }
}
.BAKKOURA{
  color: rgba(169, 169, 169, 1);
  width: 100%;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.linkbar{
  margin-left: 80px;
}
.Frame1{
  margin-right: 100px;
}
.Frame1.mob{
  display: none;
}
@media screen and (max-width:600px) {
  .Frame1.desktop{
   display: none;
  }
  .Frame1.mob{
    display: flex;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
  }
}
#menu{
  width: 48px;
  height: 35px;
  margin: -2px;
  padding-left: 56px;
  background-repeat: no-repeat;
  animation: 3s eye infinite;
}
.Menu-text{
  position: absolute;
  color: red;
  right: 45px ;
  top: 39px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.nav-social{
  margin-left: 80px;
}
/* // ===================== NavBar ===================== // */
/*  ===================== section1 =====================  */
.Home{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.section1 {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("imgs/wallpapersden 1.png");
  background-size: cover;
  position: relative;
  z-index: -1;
}
.section1 .black_watch{
  position: absolute;
  left: 47%;
  top: 50%;
  transform: translate(-47%,-50%);
  z-index: 1;
  width: 657px;
  height: 677px;
  background-image: url("imgs/2022-01-16-15-00-47-\(C\,Smoothing4\)+.png");
  animation: 3s black_watch forwards;
} 
.section1 .Yellow_watch{
  z-index: 2;
  width: 697px;
  height: 677px;
  background-image: url("imgs/2022-01-16-15-00-47-\(C\,Smoothing4\)+\ \(1\).png");
  animation: 3s Yellow_watch forwards;
}
@keyframes Yellow_watch {
  from {
    margin-right: 0%;
  }
  to {
    margin-right: 25%;
  }
}
@keyframes black_watch {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 15%;
  }
}
.Brunette-Blonde{
  display: flex;
  color: red;
  position: absolute;
  margin-top: -250px;
  left: 50%;
  transform: translate(-50% ,-50%);
  font-family: Libre Bodoni;
  font-size: 130px;
  font-weight: 400;
  line-height: 124px;
  letter-spacing: 0em;
  text-align: left;
  z-index: 100;
}
.Brunette-Blonde .Brunette,
.Brunette-Blonde .Blonde{
  -webkit-text-fill-color: transparent;
  background: linear-gradient(91.23deg, #752B7A -1.78%, rgba(187, 35, 111, 0.5) 55.68%, rgba(255, 173, 14, 0) 102.3%);
  -webkit-background-clip: text;
  position: absolute;
}
.Brunette-Blonde .Brunette{
  left: 100px;
  animation: 1s Brunette backwards;
}
.Brunette-Blonde .Blonde{
  right: 100px;
  animation: 1s Blonde backwards;
}
@keyframes Brunette {
  from {
    left: -150px;
  }
  to {
    left: 100px;
  }
}
@keyframes Blonde {
  from {
    right: -150px;
  }
  to {
    right: 100px;
  }
}
@media screen and (max-width:1600px){
  .Brunette-Blonde .Brunette{
    left: 100px;
    line-height: 170px;
    }
    .Brunette-Blonde .Blonde{
      right: 100px;
      line-height: 170px;
    }
}
@media screen and (max-width:/* 1365px */1630px){
  .Brunette-Blonde .Brunette{
    left: 25px;
    }
    .Brunette-Blonde .Blonde{
    right: 0px;
    margin-left: 50px;
    }
    .Brunette-Blonde .Blonde,
    .Brunette-Blonde .Brunette{
      font-size: 120px;
    }
}
@media screen and (max-width:1035px){
  .Brunette-Blonde .Brunette{
    top: 100px;
    left: -166px;
    }
  .Brunette-Blonde .Blonde,
  .Brunette-Blonde .Brunette{
    font-size: 120px;
  }
}
@media screen and (max-width:800px){
  .Brunette-Blonde .Brunette {
    left: -90px;
  }
    .Brunette-Blonde .Blonde {
      /* right: -75px; */
      right: -24px;
  }
}
@media screen and (max-width:800px){
  .Brunette-Blonde .Blonde,
  .Brunette-Blonde .Brunette{
    font-size: 90px;
  }
}
@media screen and (max-width:570px){
  .Brunette-Blonde .Blonde,
  .Brunette-Blonde .Brunette{
    font-size: 70px;
  }
}
@media screen and (max-width:410px){
  .Brunette-Blonde .Blonde,
  .Brunette-Blonde .Brunette{
    font-size: 50px;
  }
  .Brunette-Blonde .Brunette{
    top: 55px;
    left: -35px;
  }
  .Brunette-Blonde .Blonde {
    right: -4px;
  }
}
.hero_line{
  width: 1px;
  height: 20px;
  background-color: rgba(246, 216, 125, 1);
  position: absolute;
  margin-top: 800px;
  top: 0;
  left: 50%;
  transform: translate( 0,-50%);
  animation: 3s hero_line infinite;
  overflow: auto;
}
.hero_line::after{
  content: "";
  color: rgba(246, 216, 125, 1);
  height: 500px;
}
@keyframes hero_line {
  from {
    height: 0px;
    transform: scaleY(0);
  }
  to {
    height: 100px;
    transform: scaleY(1);
  }
}
@media screen and (max-width:820px){
  .hero_line{
    display: none;
  }
}
.mobile{
  display: none;
}
@media screen and (max-width:820px){
  .disc{
    display: none;
  }
}
@media screen and (max-width:820px){
  .Yellow_watch,
  .black_watch{
    display: none;
  }
.section1.mobile{
  display: flex;
  position: relative;
}
.Yellow_watch_mob{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  width: 459px;
  height: 459px;
  background-image: url("imgs/2022-01-16-15-00-47-\(C\,Smoothing4\)+\ \(1\).png");
  background-size: cover;
  animation: 3s Yellow_watch_mob forwards;
}
.black_watch_mob{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  width: 459px;
  height: 459px;
  background-image: url("imgs/black_watch_mob.png");
  background-size: cover;
  animation: 3s black_watch_mob forwards;
  }
}
@keyframes Yellow_watch_mob {
  from {
    top: 50%;
    left: 50%;
  }
  to {
    top: 60%;
    left: 35%;
  }
}
@keyframes black_watch_mob {
  from {
    top: 50%;
    left: 50%;
  }
  to {
    top: 40%;
    left: 65%;
  }
}
/* // ===================== section1 ===================== // */
/*  ===================== section2 =====================  */
.section2{
  width: 100%;
  margin-bottom: -4px;
}
.section2-container{
  position: relative;
  height: 862px;
  text-align: center;
  background: linear-gradient(180deg, rgba(3, 0, 7, 0) 50%, #030007 100%),
  linear-gradient(180deg, #030007 0%, rgba(3, 0, 7, 0) 50%);
}
.section2-container a{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10%;
  bottom: 10%;
}
.section2-container video{
  width: 100%;
  height: 100%;
}
@media screen and (max-width:1550px){
  .section2-container a {
    bottom: 20%;
  }
}
@media screen and (max-width:1300px){
  .section2-container{
    height: 666px;
  }
}
@media screen and (max-width:800px){
  .section2-container {
   height: 100%;
   margin-bottom: 70px;
  }
  .section2-container a {
    bottom: -25%;
    right: 30%;
  }
}
@media screen and (max-width:500px){
  .section2-container a {
    bottom: -40%;
    right: 20%;
  }
}
/* // ===================== section2 ===================== // */
/*  ===================== section3 =====================  */
.section3{
  background-color: #040009;
  width: 100%;
  padding: 70px;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vh;
  margin-inline: auto;
  padding: 1vh;
}
.gallery > img{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: all 0.3s ease;
}
.gallery:has(img:hover) img:not(:hover) {
  scale: 0.8;
  opacity: 0.5;
  filter: grayscale(70%);
}
@media screen and (min-width:100px) and (max-width:600px) {
  .gallery{
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery {
  padding: 20px;
  z-index: 300;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.gallery img {
  margin: 10px;
  cursor: pointer;
  max-width: 300px;
  border-radius: 10px;
}
/* Lightbox styles */
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  z-index: 300;
}
#lightbox img {
  max-width: 80%;
  max-height: 60vh;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 74px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}
/* navigation buttons */
#prev-btn,
#next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#prev-btn {
    left: 10px;
}
#next-btn {
    right: 10px;
}
#prev-btn:hover,
#next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Styles for thumbnails */
.thumbnail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.thumbnail {
  max-width: 50px;
  width: 100px;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #fff;
  transition: opacity 0.3s;
}
.thumbnail:hover,
.thumbnail.active-thumbnail {
    opacity: 0.7;
}
@media screen and (min-width:100px) and (max-width:600px) {
  .gallery{
    grid-template-columns: repeat(2, 1fr);
  }
}
/* // ===================== section3 ===================== // */
/*  ===================== section4 =====================  */
.section4{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  overflow: hidden;
}
.section4 {
  background-color: #040009;
  width: 100%;
  height: 820px;
}
.section4 .right_side{
  background-image: url("imgs/wallpapersden\ 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 800px;
  position: relative;
}
.section4 .left_side{
  position: relative;
}
.section4 .left_side h1{
  -webkit-text-fill-color: transparent;
  background: linear-gradient(91.23deg, #752B7A -1.78%, rgba(187, 35, 111, 0.5) 55.68%, rgba(255, 173, 14, 0) 102.3%);
  -webkit-background-clip: text;
  font-family: Libre Bodoni;
  font-size: 80px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
}
.section4 .left_side p{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(169, 169, 169, 1);
  margin-top: 50px;
}
.section4 .left_side a{
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background-image: url("imgs/Rectangle 3373.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 12px 26px 11px 31px;
  position: absolute;
  bottom: -68px;
  right: -10%;
  z-index: 1;
}
.section4 .left_side a:hover{
  background-image: url("imgs/buttons/Property\ 1=Variant2.png");
  transition: .9s;
}
.section4 .left_side a:hover{
  color: rgba(240, 198, 115, 1);
  transition: .5s;
}
.section4 .right_side .section4Image {
  background-image: url("imgs/section4colse.png");
  background-size: cover;
  width: 530px;
  height: 532px;
  animation: 9s section4Image infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
@keyframes section4Image {
  0%   { background-image: url("imgs/section4colse.png");}
  25%  { background-image: url("imgs/section4open.png");}
  50%  { background-image: url("imgs/Property\ 1=Variant4.png");}
  100% { background-image: url("imgs/Property\ 1=Variant3\ \(1\).png");}
}
@media screen and (min-width:100px) and (max-width:1300px) {
  .section4{
    padding-left: 100px;
  }
  .section4 .right_side{
    width: 600px;
  }
}
@media screen and (min-width:100px) and (max-width:1155px){
  .section4{
    flex-direction: column;
    height: 1100px;
  }
  .section4 .right_side{
    width: 100%;
  }
  .section4 .left_side{
    width: 100%;
  }
  .section4 .left_side a {
    right: 0;
    bottom: 0;
  }
  .section4 .left_side p {
    margin-bottom: 70px;
  }
}
@media screen and (min-width:100px) and (max-width:820px){
  .section1 .Yellow_watch,
  .section1 .black_watch{
    display: none;
  }
  .mobile{
    display: flex;
  }
  .section3 {
    padding: 25px;
  }
  .section4{
    padding-left: 25px;
  }
}
@media screen and (min-width:100px) and (max-width:550px){
  .mobile{
    height: 500px;
  }
  .section1{
    height: 1000px;
  }
/* // =====================  section1 Complement it with ather sections  ===================== // */
  .section4 .right_side .section4Image{
    width: 400px;
    height: 400px;
  }
}
@media screen and (min-width:100px) and (max-width:450px){
  .section4 .right_side .section4Image{
    width: 300px;
    height: 300px;
  }
  .section4{
    height: 900px;
  }
}
@media screen and (min-width:100px) and (max-width:500px){
  .section4 .left_side h1{
    font-size: 50px;
    line-height: 45px;
  }
}
/* // ===================== section4 ===================== // */
/*  ===================== section5 =====================  */
.section5{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #040009;
  width: 100%;
  overflow: hidden;
}
.section5 h1{
  background: linear-gradient(91.23deg, #3C113F -1.78%, rgba(187, 35, 111, 0.5) 55.68%, rgba(255, 173, 14, 0) 102.3%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: Libre Bodoni;
  font-size: 130px;
  font-weight: 400;
  line-height: 117px;
  letter-spacing: 0em;
  text-align: left;
}
.section5 img{
  width: 100%;
  margin-top: -100px;
}
.section5 a{
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background-image: url("imgs/Rectangle 3373.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13px 26px 15px 31px;
  margin-top: -100px;
}
.section5 a:hover{
  background-image: url("imgs/buttons/Property\ 1=Variant2.png");
  transition: .9s;
}
.img5-mobile{
  display: none;
}
@media screen and (min-width:100px) and (max-width:650px){
  .img5{
    display: none;
  }
  .img5-mobile{
    display: flex;
    padding: 35%;
  }
}
@media screen and (min-width:100px) and (max-width:900px){
  .section5 img{
    width: 145%;
  }
  .section5 h1{
    font-size: 90px;
    line-height: 80px;
  }
}
@media screen and (min-width:100px) and (max-width:650px){
  .section5 img{
    width: 165%;
  }
  .section5 h1{
    font-size: 90px;
    line-height: 80px;
  }
}
@media screen and (min-width:100px) and (max-width:580px){
  .section5 h1{
    font-size: 60px;
    line-height: 60px;
  }
  .space{
    display: none;
  }
}
@media screen and (min-width:100px) and (max-width:555px){
  .section5 h1{
    margin-bottom: 25px;
  }
}
@media screen and (min-width:100px) and (max-width:400px){
  .section5 h1{
    margin-bottom: 45px;
    font-size: 50px;
    line-height: 50px;
  }
}
/* // ===================== section5 ===================== // */
/*  ===================== section6 =====================  */
.section6{
  background-color: #040009;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.section6 .left_side{
  position: relative;
  width: 50%;
}
.section6 .left_side .eye{
  position: relative;
  bottom: 520px;
  left: 297px;
  width: 44px;
  height: 32px;
  background-image: url("./imgs/Property\ 1=Default1.png");
  animation: 3s eye infinite;
  background-size: cover;
}
@keyframes eye {
  from {
    background-image: url("./imgs/Property\ 1=Default1.png");
  }
  to {
    background-image: url("./imgs/Property 1=Variant2.png");
  }
}
.section6 .right_side .top{
  background: linear-gradient(91.23deg, #3C113F -1.78%, rgba(187, 35, 111, 0.5) 55.68%, rgba(255, 173, 14, 0) 102.3%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.section6 .right_side .top h1{
  font-family: Libre Bodoni;
  font-size: 130px;
  font-weight: 400;
  line-height: 117px;
  letter-spacing: 0em;
  text-align: left;
}
.section6 .right_side .top p{
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.section6 .right_side .botom{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 52px;
}
.section6 .right_side .botom p{
  max-width: 285px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(169, 169, 169, 1);
  margin-top: 15px;
}
.section6 .right_side .botom h2{
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.section6 .right_side .botom .right_side {
  position: relative;
}/* eye */
.section6 .right_side .botom .right_side a{
/*   background-image: url("imgs/Rectangle 3373.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14px 26px;
  font-family: Montserrat;
  font-size: 7px;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  position: absolute;
  right: 0;
  margin-top: 45px;
  border: 1px solid rgba(151, 71, 255, 1);
}
.section6 .right_side .botom .right_side a:hover{
  background-image: url("imgs/buttons/Property\ 1=Variant2.png");
  transition: .5s;
  border: none;
}
@media screen and (min-width:100px) and (max-width:1220px){
  .section6{
    flex-direction: column;
    overflow: hidden;
  }
  .section6 .left_side:first-child{
    width: 100%;
  }
  .section6 .right_side:first-child{
    margin-top: -300px;
    width: 100%;
  }
  .section6 .right_side .top h1 {
    margin-top: -240px;
  }
  .section6 .right_side .botom {
    margin-top: 30px;
    margin-bottom: 160px;
  }
  .section6 .right_side .top,
  .section6 .right_side .botom{
    padding: 0 25px;
  }
  .left_side1{
    margin-top: -270px;
  }
  .left_side1 img{
    margin-left: 8%;
  }
  .section6 .left_side .eye{
    left: 33%;
  }
  .section6 .right_side .botom p{
    max-width: 100%;
  }
}
@media screen and (min-width:100px) and (max-width:1175px){
  .section6 .left_side .eye{
   left: 380px;
  }
}
@media screen and (min-width:100px) and (max-width:900px){
  .section6 .left_side .eye{
   left: 370px;
  }
}
@media screen and (min-width:100px) and (max-width:800px){
  .section6 .left_side .eye{
   left: 367px;
   width: 34px;
   height: 29px;
   background-size: 100% 100%;
  }
}
@media screen and (min-width:100px) and (max-width:700px){
  .section6 .left_side .eye{
   left: 350px;
  }
}
@media screen and (min-width:100px) and (max-width:677px){
  .section6 .left_side .eye{
   left: 290px;
   bottom: 415px;
  }
}
 @media screen and (min-width:100px) and (max-width:670px){
  .section6 .left_side .eye{
   left: 280px;
   bottom: 410px;
  }
}
 @media screen and (min-width:100px) and (max-width:664px){
  .section6 .left_side .eye{
   left: 286px;
   bottom: 410px;
  }
}

@media screen and (min-width:100px) and (max-width:660px){
  .section6 .left_side .eye{
   left: 285px;
   bottom: 400px;
  }
}
  @media screen and (min-width:100px) and (max-width:655px){
    .section6 .left_side .eye{
      left: 281px;
      bottom: 402px;  
    }
  }

  @media screen and (min-width:100px) and (max-width:640px){
    .section6 .left_side .eye{
      left: 275px;
      bottom: 393px;
    }
  }
  @media screen and (min-width:100px) and (max-width:630px){
    .section6 .left_side .eye{
      left: 269px;
      bottom: 386px;
    }
  }
  @media screen and (min-width:100px) and (max-width:615px){
    .section6 .left_side .eye{
      left: 264px;
      bottom: 379px;
    }
  }
  @media screen and (min-width:100px) and (max-width:606px){
    .section6 .left_side .eye{
      left: 258px;
      bottom: 371px;
    }
  }
  @media screen and (min-width:100px) and (max-width:594px){
    .section6 .left_side .eye{
      left: 254px;
      bottom: 367px;
    }
  }
  @media screen and (min-width:100px) and (max-width:585px){
    .section6 .left_side .eye{
      left: 250px;
      bottom: 360px;
    }
  }
  @media screen and (min-width:100px) and (max-width:570px){
    .section6 .left_side .eye{
        left: 243px;
        bottom: 352px;
    }
  }
  @media screen and (min-width:100px) and (max-width:492px){
    .section6 .left_side .eye{
      left: 245px;
      bottom: 363px;
    }
  }
  @media screen and (min-width:100px) and (max-width:481px){
    .section6 .left_side .eye{
      left: 238px;
      bottom: 355px;
    }
  }
/* We can remove all of this code if we have a Custom photo */
  @media screen and (min-width:100px) and (max-width:535px){
    .section6 .left_side .eye{
      left: 267px;
    bottom: 394px;
    }
  }
  @media screen and (min-width:100px) and (max-width:525px){
    .section6 .left_side .eye{
      left: 260px;
      bottom: 387px;
    }
  }
  @media screen and (min-width:100px) and (max-width:512px){
    .section6 .left_side .eye{
      left: 253px;
      bottom: 379px;
    }
  }
  @media screen and (min-width:100px) and (max-width:500px){
    .section6 .left_side .eye{
      left: 248px;
      bottom: 370px;
    }
  }
  @media screen and (min-width:100px) and (max-width:490px){
    .section6 .left_side .eye{
      left: 243px;
      bottom: 361px;
    }
  }
  @media screen and (min-width:100px) and (max-width:480px){
    .section6 .left_side .eye{
      left: 238px;
      bottom: 354px;
    }
  }
  @media screen and (min-width:100px) and (max-width:470px){
    .section6 .left_side .eye{
      left: 235px;
      bottom: 347px;
    }
  }
  @media screen and (min-width:100px) and (max-width:464px){
    .section6 .left_side .eye{
      left: 229px;
      bottom: 343px;
    }
  }
  @media screen and (min-width:100px) and (max-width:450px){
    .section6 .left_side .eye{
      width: 27px;
      height: 24px;
      left: 225px;
      bottom: 330px;
    }
  }
  @media screen and (min-width:100px) and (max-width:444px){
    .section6 .left_side .eye{
      left: 221px;
      bottom: 326px;
    }
  }
  @media screen and (min-width:100px) and (max-width:435px){
    .section6 .left_side .eye{
      left: 216px;
      bottom: 321px;
    }
  }
  @media screen and (min-width:100px) and (max-width:427px){
    .section6 .left_side .eye{
      left: 212px;
      bottom: 315px;
    }
  }
  @media screen and (min-width:100px) and (max-width:420px){
    .section6 .left_side .eye{
      left: 209px;
    bottom: 309px;
    }
  }
  @media screen and (min-width:100px) and (max-width:410px){
    .section6 .left_side .eye{
      left: 193px;
    bottom: 289px;
    }
  }
  @media screen and (min-width:100px) and (max-width:385px){
    .section6 .left_side .eye{
      left: 192px;
      bottom: 285px;
    }
  }
  @media screen and (min-width:100px) and (max-width:379px){
    .section6 .left_side .eye{
      left: 187px;
      bottom: 281px;
    }
  }
  @media screen and (min-width:100px) and (max-width:371px){
    .section6 .left_side .eye{
      left: 184px;
      bottom: 275px;
    }
  }
  @media screen and (min-width:100px) and (max-width:362px){
    .section6 .left_side .eye{
      left: 179px;
    bottom: 269px;
    }
  }
  @media screen and (min-width:100px) and (max-width:354px){
    .section6 .left_side .eye{
      left: 175px;
      bottom: 263px;
    }
  }
  @media screen and (min-width:100px) and (max-width:345px){
    .section6 .left_side .eye{
      display: none;
    }
  }
@media screen and (min-width:100px) and (max-width:677px){
  .left_side1{
    margin-top: -100px;
    margin-bottom: 100px;
  }
  .section6 .left_side1 :first-child{
    width: 100%;
  }
}
@media screen and (min-width:100px) and (max-width:620px){
  .section6 .right_side .top h1{
    font-size: 80px;
    line-height: 74px;
    margin-top: -200px;
  }
  .section6 .right_side .botom{
    flex-direction: column;
  }
  .section6 .right_side .botom .right_side{
    margin-top: 20px;
  }
}
@media screen and (min-width:100px) and (max-width:450px){
  .section6 .right_side .top h1 {
    font-size: 60px;
    line-height: 58px;
  }
}
@media screen and (min-width:621px) and (max-width:220px){
  .section6 .right_side .botom h2{
    margin-top: 120px;  
  }
}
@media screen and (min-width:100px) and (max-width:555px){
  /* .section6 .left_side .eye{
    left: 272px;
    bottom: 402px;
   } */
.section6 .left_side1 :first-child {
    width: 120%;
  }
}
/* // ===================== section6 ===================== // */
/*  ===================== section7 =====================  */
.section7{
  background-color: #040009;
  width: 100%;
  padding-left: 290px;
  padding-right: 290px;
  background-image: url(imgs/wallpapersden\ 3.png);
  background-size: cover;
}
.section7 h1{
  font-family: Libre Bodoni;
  font-size: 130px;
  font-weight: 400;
  line-height: 117px;
  letter-spacing: 0em;
  text-align: left;
  background: linear-gradient(91.23deg, #3C113F -1.78%, rgba(187, 35, 111, 0.5) 55.68%, rgba(255, 173, 14, 0) 102.3%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.section7 p{
  margin-left: 249px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(169, 169, 169, 1);
  margin-top: 30px;
}
form{
  margin-top: 81px;
  width: 100%;
  padding-bottom: 400px;
}
.inputs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
 input{
  padding: 15px;
  max-width: /* 420px */100%;
  background-color: rgba(12, 12, 21, 1);
  border: 1px solid  rgba(66, 18, 66, 1);
  border-radius: 35px;
  color: rgba(255, 255, 255, 1);
  outline-color: rgba(151, 71, 255, 1);
}
.Message{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 59px;
  padding-bottom: 50px;
}
@media screen and (min-width:100px) and (max-width:1100px){
  .section7{
    padding: 0 100px;
  }
  form{
    padding-bottom: 50px;
  }
}
@media screen and (min-width:100px) and (max-width:900px){
  .section7 h1{
    font-size: 90px;
    line-height: 87px;
  }
  .section7 p{
    margin-left: 0;
  }
}
@media screen and (min-width:100px) and (max-width:777px){
  .section7 h1{
    font-size: 70px;
    line-height: 70px;
  }
  .section7 .inputs{
    grid-template-columns: repeat(1,1fr);
  }
}
@media screen and (min-width:100px) and (max-width:450px){
  .section7 h1 {
    font-size: 50px;
    line-height: 50px;
  }
} 
@media screen and (min-width:100px) and (max-width:620px){
  .section7 {
    padding: 0 25px;
  }
}
section{
  overflow: hidden;
}
.radio{
  width: 28px;
  height: 28px;
}
form .last{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
form .last p{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(169, 169, 169, 1);
  margin: 0 25px;
}
form .last p span{
  color: rgba(240, 198, 115, 1);
}
.submit{
  cursor: pointer;
  background-image: url(./imgs/Rectangle\ 3373.png);
  background-size: cover;
  border: none;
  padding: 15px 20px;
  transition: .5s;
}
.submit:hover{
  background-image: url(./imgs/buttons/Property\ 1=Variant2.png);
}
input[type='radio'] {
  accent-color:#F0C673;
}
.radio:checked {
  background-color: #F0C673;
}
/* // ===================== section7 ===================== // */
/*  ===================== Footer =====================  */
footer{
  font-family: Montserrat;
  background: rgba(0, 0, 0, 1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}
footer .container{
  display: flex;
  align-items: center;
  margin-bottom: 59px;
}
footer .container .copyright{
  margin-top: -20px;
}
footer .logo{
  margin: 42px 0;
}
footer .container .links a{
  margin: 20px;
  color: rgba(169, 169, 169, 1);
}
footer .container .copyright p{
  color: rgba(169, 169, 169, 1);
  text-align: center;
  margin-top: 10px;
}
footer .cookies{
  color: rgba(169, 169, 169, 1);
  text-align: center;
}
footer .cookies a{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}
.footer .submit{
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background-image: url("imgs/Rectangle 3373.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 13px 26px 15px 31px;
  margin-top: -100px;
}
.footer .submit:hover{
  background-image: url("imgs/buttons/Property\ 1=Variant2.png");
  transition: .9s;
}
@media screen and (min-width:100px) and (max-width:1270px) {
  footer .container{
    flex-direction: column;
  }
  .sosyal{
    margin-top: 30px;
  }
  footer .container .links{
    margin-top: 30px;
  }
}
@media screen and (min-width:100px) and (max-width:720px){
  footer .container .links a{
    display: block;
  }
}
/* // ===================== Footer ===================== // */
/*  ===================== SuccessPage =====================  */
.SuccessPage{
  width: 100%;
  height: 100%;
  background-image: url("imgs/lightsec.png");
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25% 0 25% 0;
  block-size: cover;
}
.SuccessPage .container h1{
  font-family: Libre Bodoni;
  font-size: 80px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  background: linear-gradient(91.23deg, #752B7A -1.78%, rgba(187, 35, 111, 0.5) 55.68%, rgba(255, 173, 14, 0) 102.3%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.SuccessPage .container p{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(169, 169, 169, 1);
  margin-top: 16px;
}
.SuccessPage .container a{
  position: absolute;
  top: 25px;
  right: 25px;
}
@media screen and (min-width:100px) and (max-width:555px){
  .SuccessPage{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
  }
}
/* // ===================== SuccessPage ===================== // */
/*  ===================== popupPage =====================  */
.popupPage{
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  block-size: cover;
}
.popupPage .container h1{
  font-family: Libre Bodoni;
  font-size: 80px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  background: linear-gradient(91.23deg, #752B7A -1.78%, rgba(187, 35, 111, 0.5) 55.68%, rgba(255, 173, 14, 0) 102.3%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.popupPage .container p{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(169, 169, 169, 1);
  margin-top: 16px;
}
.popupPage .container a{
  position: absolute;
  top: 22px;
  right: 20px;
}
@media screen and (min-width:100px) and (max-width:1270px){
  .popupPage{
    padding: 83px 25px 54px 25px;
  }
}
@media screen and (min-width:100px) and (max-width:810px){
  .popupPage .container h1{
    font-size: 50px;
    line-height: 62px;
  }
}
@media screen and (min-width:100px) and (max-width:530px){
  .popupPage .container h1{
    font-size: 40px;
    line-height: 42px;
  }
}
/* // ===================== popupPage ===================== // */
.none{
  display: none !important;
}